<link rel="import" href="import.html">

<dom-module id="company-view">
  <template>

   <style include="rmd-view-styles"></style>
   <px-card id="myCard" header-text="Company">
    <p>

      <div class="flex flex--wrap flex--justify">
       <div class="gaugeContainer u-p u-mb flex flex--col">
        <div class="flex u-mb">
         <px-gauge value="{{nCurrentTrips}}" min="0" max="20" bar-width="0" unit="# active trips" normal='[[0,20]]'></px-gauge>
       </div>
     </div>

     <div class="gaugeContainer u-p u-mb flex flex--col">
      <div class="flex u-mb">
        <px-kpi spark-type="line" title="Passengers" value="2/h" uom="avg #" status-icon="px-nav:up" status-color="green" status-label="12%" spark-data='[[xy]]'></px-kpi>
      </div>

    </div>

    <div class="gaugeContainer u-p u-mb flex flex--col">
      <div class="flex u-mb">

          <px-key-value-pair class="child" key="Passengers" value="{{nPassengers}}" uom="#" size="beta"></px-key-value-pair>

      </div>
      <div class="flex u-mb">
        <div>
          <px-key-value-pair class="child" key="Drivers" value="{{nDrivers}}" uom="#" size="beta"></px-key-value-pair>
        </div>
      </div>

    </div>
  </div>
</p>
<p>
  <iron-ajax id="tripsCall"></iron-ajax>
  <iron-ajax 
    id="nPassengersCall"
    handle-as="json"
    on-response="onNPassengers"
    debounce-duration="300"></iron-ajax>
  <iron-ajax auto
    id="nDriversCall"
    handle-as="json"
    on-response="onNDrivers"
    debounce-duration="300"></iron-ajax>


  <px-data-table
  table-data='{{trips}}'
  language="en"
  striped>

  <px-data-table-column
  name='passengerName'
  label='Passenger'
  sortable
  filterable> </px-data-table-column>
  <px-data-table-column
  name='driverName'
  label='Driver'
  sortable
  filterable> </px-data-table-column>
  <px-data-table-column
  name='notes'
  sortable
  filterable>
</px-data-table-column>
<px-data-table-column
name='stuff'
lable="Passengers#"
sortable
filterable> </px-data-table-column>
<px-data-table-column
name='toName'
label='To'
sortable
filterable>
</px-data-table-column>
<px-data-table-column
name='whenmin'
label='When'
sortable
filterable>
</px-data-table-column>
<px-data-table-column
name='timestamp'
label='Date'
sortable
filterable>
</px-data-table-column>

<px-data-table-column
name='status'
sortable
filterable>
</px-data-table-column>

</px-data-table>
<px-icon icon="px-nav:search" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon>
</p>
</div>
</px-card>
</template>
<script>
  Polymer({
    is: 'company-view',
    properties: {
    },

    onTrips : function(e) {
      this.trips = e.detail.response._embedded.trips;
      this.xy=[];
      this.nCurrentTrips =0;
      if (this.trips) {
        var j=0;
        for (var i=this.trips.length-1; i>=0; i--) {

          j++;
          this.xy.push(
              {
                "x": j,
                "y": this.trips[i].stuff,
              }
            );

          if (this.trips[i].status=='pending' || this.trips[i].status=='confirmed' || this.trips[i].status=='accepted') 
          {  
            console.log(this.trips[i].status);
            this.nCurrentTrips++;
          }
        }
      }
      console.log(this.nCurrentTrips);
    },
    onNPassengers : function(e) {
      this.nPassengers = e.detail.response;
    },
    onNDrivers : function(e) {
      this.nDrivers = e.detail.response;
    },

    ready: function() {
      var that = this;
      
      this.$.tripsCall.url = "api/rebu/v1/trips?page=0&size=10&projection=tripcompact&sort=timestamp,desc";
      this.$.tripsCall.addEventListener('response', this.onTrips.bind(this));
      this.$.tripsCall.generateRequest();

      this.$.nPassengersCall.url="api/rebu/v1/drivers/search/findNumber";
      this.$.nPassengersCall.generateRequest();

      this.$.nDriversCall.url="api/rebu/v1/passengers/search/findNumber";
      this.$.nDriversCall.generateRequest();

    }
  });
</script>
</dom-module>
