<link rel="import" href="import.html">

<dom-module id="company-view">
  <template>

   <style include="rmd-view-styles"></style>
   <px-card id="myCard" header-text="Company">
    <p>

      <div class="flex flex--wrap flex--justify">
 <div class="gaugeContainer u-p u-mb flex flex--col">
          <div class="flex u-mb">
 <px-gauge value="6" min="0" max="20" bar-width="0" unit="passengers" normal='[[5,10]]'></px-gauge>
</div>
</div>

        <div class="gaugeContainer u-p u-mb flex flex--col">
          <div class="flex u-mb">
            <px-kpi spark-type="line" title="Passengers" value="2/h" uom="avg #" status-icon="px-nav:up" status-color="green" status-label="12%" spark-data='[{"x":1397102460000,"y":0.56},{"x":1397139660000,"y":0.4},{"x":1397177400000,"y":0.43},{"x":1397228040000,"y":0.33},{"x":1397248260000,"y":0.47},{"x":1397291280000,"y":0.41},{"x":1397318100000,"y":0.26},{"x":1397342100000,"y":0.42},{"x":1397390820000,"y":0.27},{"x":1397408100000,"y":0.38},{"x":1397458800000,"y":0.36},{"x":1397522940000,"y":0.32}]'></px-kpi>
          </div>
         
        </div>

        <div class="gaugeContainer u-p u-mb flex flex--col">
          <div class="flex u-mb">
            <div>
            <px-key-value-pair class="child" key="Registered" value="583" uom="#" size="beta"></px-key-value-pair>
          </div>
          <div>
            <px-key-value-pair class="child" key="Drivers" value="2" uom="#" size="beta"></px-key-value-pair>
          </div>
          </div>

        </div>
      </div>
    </p>
    <p>
      <px-data-table
      table-data='[
      {"first":"Giacomo","last":"Veneri","email":"giacomo.veneri@bhge.com","from":"Firenze SMN","to":"Airport","timestamp":""},
      {"first":"Giacomo","last":"Monaci","email":"giacomo.veneri@bhge.com","from":"Firenze SMN","to":"Nuovo Pignone","timestamp":""},
      {"first":"Alessandro","last":"Bettini","email":"alessandro.bettini@bhge.com","from":"Firenze SMN","to":"Nuovo Pignone","timestamp":""},
      {"first":"Fabio","last":"Mazzocchetti","email":"fabio.mazzocchetti@bhge.com","from":"Nuovo Pignone","to":"Firenze SMN","timestamp":""},
      {"first":"Diego","last":"Comina","email":"diego.comina@bhge.com","from":"Nuovo Pignone","to":"Firenze SMN","timestamp":""}]'
      language="en"
      striped>
      <px-data-table-column
      name='first'
      sortable
      filterable>
    </px-data-table-column>
    <px-data-table-column
    name='last'
    sortable
    filterable>
  </px-data-table-column>
  <px-data-table-column
  name='from'
  sortable
  filterable>
</px-data-table-column>
<px-data-table-column
name='to'
sortable
filterable>
</px-data-table-column>
<px-data-table-column
name='timestamp'
sortable
filterable>
</px-data-table-column>
</px-data-table>
<px-icon icon="px-nav:search" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon>
</p>
</div>
</px-card>
</template>
<script>
  Polymer({
    is: 'company-view',
    properties: {},
    ready: function() {
      var that = this;
      console.log("company");

    }
  });
</script>
</dom-module>
