<link rel="import" href="import.html">

<dom-module id="driver-view">
  <template>
    <style include="rmd-view-styles"></style>


    <px-card id="myCard" header-text="Driver">

      <iron-ajax id="availableTripsCall"></iron-ajax>
      <iron-ajax id="myTripsCall"></iron-ajax>
      <iron-ajax id="driverCall"></iron-ajax>
      <iron-ajax
      id="submitTripCall"
      method="PATCH"
      body="[[trip]]"
      on-response="onSubmitTripSuccess"
      lastError="onSubmitTripError"
      handle-as="json" content-type="application/json"
      debounce-duration="3000">
    </iron-ajax>


    <div>
      <px-tabs
      id="tab-set1"
      selected="{{props.selected.value}}">
      <px-tab id="tab1">Accepted <spam hidden$="{{isEmpty(mytrips.length)}}">({{mytrips.length}}) </spam></px-tab>
      <px-tab id="tab2">Availables <spam hidden$="{{isEmpty(trips.length)}}">({{trips.length}})</spam></px-tab>
    </px-tabs>
    <iron-pages selected="[[props.selected.value]]">
      <div id="tab1-content" class="flex u-mv++">

        <div style="height:400px; width:600px; display:flex" class="u-mr++ u-1/1">
          <px-map flex-to-size zoom="12.6"
          lat="43.80129146518765"
          lng="11.219615936279299"> 
          <px-map-marker-group name="Taxy stop data" 
          data='{{map}}'></px-map-marker-group>

          <px-map-tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png">
          </px-map-tile-layer></px-map></div>

          <div class="u-mr++ u-1/1">
            <px-data-table
            id="myTrips"
            table-data='{{mytrips}}'
            language="en"
            striped
            selectable
            single-select>

            <px-data-table-column
            name='passengerName'
            label='Passenger'
            sortable
            filterable> </px-data-table-column>
            <px-data-table-column
            name='notes'
            sortable
            filterable>
          </px-data-table-column>
          <px-data-table-column
          name='stuff'
          lable="Passengers#"
          sortable
          filterable> </px-data-table-column>
          <px-data-table-column
          name='toName'
          label='To'
          sortable
          filterable>
        </px-data-table-column>
        <px-data-table-column
        name='whenmin'
        label='When'
        sortable
        filterable>
      </px-data-table-column>
      <px-data-table-column
      name='timestamp'
      label='Date'
      sortable
      filterable>
    </px-data-table-column>
    <px-data-table-column
    name='driverName'
    label='Driver'
    sortable
    filterable>
  </px-data-table-column>
  <px-data-table-column
  name='status'
  sortable
  filterable>
</px-data-table-column>
<px-data-table-column
name="linkFrom"
label="GMap"
sortable
type="html"
filterable>
</px-data-table-column>
</px-data-table>

<div>
  <button on-click="done" class="btn btn--full btn--primary"> Mark as Completed
    <px-icon icon="px-utl:check" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon>
  </button>
</div>

</div>
</div>
<div id="tab2-content">


  <div>
    <px-data-table
    id="availableTrips"
    table-data='{{trips}}'
    language="en"
    striped
    selectable
    single-select>

    <px-data-table-column
    name='passengerName'
    label='Passenger'
    sortable
    filterable> </px-data-table-column>
    <px-data-table-column
    name='notes'
    sortable
    filterable>
  </px-data-table-column>
  <px-data-table-column
  name='stuff'
  lable="Passengers#"
  sortable
  filterable> </px-data-table-column>
  <px-data-table-column
  name='toName'
  label='To'
  sortable
  filterable>
</px-data-table-column>
<px-data-table-column
name='whenmin'
label='When'
sortable
filterable>
</px-data-table-column>
<px-data-table-column
name='timestamp'
label='Date'
sortable
filterable>
</px-data-table-column>

<px-data-table-column
name='status'
sortable
filterable>
</px-data-table-column>

</px-data-table>

</div>



<div>
  <button on-click="accept" class="btn btn--full btn--primary"> Accept
    <px-icon icon="px-utl:check" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon>
  </button>
</div>

</div>
</iron-pages>
</div>




</px-card>

</template>
<script>
  Polymer({
    is: 'driver-view',
    properties: {
      props: {
        type: Object,
        value: function(){ return this.tabProps; }
      },
    },
    tabProps: {
      selected: {
        type: String,
        value: '0',
        inputType: 'dropdown',
        inputChoices: ['0','1','2','3']
      }
    },
     isEmpty : function(trips) {
      if (trips) {
        return trips.length==0;
      } else {
        return true;
      }
     },
    buildMap : function(trips) {

      var map = {  
          "type":"FeatureCollection",
          "features":[]
        };

      if (trips) {
        

        for (var i=0; i<trips.length; i++) {
         trips[i].linkFrom='<a target="_new" href="https://maps.google.com/?ll='+trips[i].fromLat+','+trips[i].fromLon+'">...</a>';

          var point =     {  
           "type":"Feature",
           "geometry":{  
            "type":"Point",
            "coordinates":[trips[i].fromLon,trips[i].fromLat]
          },
          "properties":{  
            "title": trips[i].passengerName,
            "marker-icon":{  
             "icon-base":"static-icon",
             "icon-type":"warning"
           }
         },
         "id":trips[i].id

       };
     }


     map.features.push(point);
   }

   console.log(map);
   this.map=map;
   return trips;
 },
 onSubmitTripSuccess:function(e){
  this.checkTrips(e);
},
onSubmitTripError:function(e){
  alert(e);
},
onAvailableTrips:function(e){
  this.trips = e.detail.response._embedded.trips;
      //this.buildMap(this.trips);
      this.checkTrips(e);
    },
    onMyTrips:function(e){
      this.mytrips = this.buildMap(e.detail.response._embedded.trips);
    },
    onChangeDriver:function(e){
      console.log('onChangeDriver');
      var drivers = e.detail.response._embedded.drivers;
      console.log(drivers); 
      if (drivers!=null && drivers.length>0) {
        this.driver = drivers[0];
        this.driver.href=this.driver._links.self.href;
        console.log(this.drive);
      }
      this.checkTrips(e);
    },
    checkTrips : function(e) {
      var that = this;
      console.log('checkTrips');
      setTimeout(function() {
        if(that.driver && that.driver.href) {
          that.$.myTripsCall.params = {"statuses":["accepted","confirmed"],"driver":that.driver.href};
          that.$.myTripsCall.generateRequest();
        }
        that.$.availableTripsCall.generateRequest();
      }, 5000);
    },
    accept:function(e){
        //accept selected
        console.log(this.$.availableTrips);
        console.log(this.$.availableTrips.selectedRows[0].row._links.value.self.href);

        if (this.$.availableTrips.selectedRows && this.$.availableTrips.selectedRows.length>0) {
          var id = this.$.availableTrips.selectedRows[0].row.id.value;
          this.trip={};
          this.trip.driver=this.driver.href;
          this.trip.status='accepted';
          this.$.submitTripCall.url="api/rebu/v1/trips/"+id;
          console.log(this.trip);
          this.$.submitTripCall.generateRequest();

        }

      },
      done:function(e){
        //accept selected
        console.log(this.$.myTrips);
        console.log(this.$.myTrips.selectedRows[0].row._links.value.self.href);

        if (this.$.myTrips.selectedRows && this.$.myTrips.selectedRows.length>0) {
          var id = this.$.myTrips.selectedRows[0].row.id.value;
          this.trip={};
          this.trip.status='done';
          this.$.submitTripCall.url="api/rebu/v1/trips/"+id;
          console.log(this.trip);
          this.$.submitTripCall.generateRequest();

        }

      },
      ready: function() {
        var that = this;

      //driver
      var driverName="Giacomo Veneri";

      this.$.driverCall.url = "api/rebu/v1/drivers/search/findByNameIgnoreCase";
      this.$.driverCall.params = {"name":driverName,"projection":"driverId"};
      this.$.driverCall.addEventListener('response', this.onChangeDriver.bind(this));

      //available trips
      console.log("driver");
      this.$.availableTripsCall.url = "api/rebu/v1/trips/search/findByStatusIn?projection=tripcompact&sort=timestamp,asc";
      this.$.availableTripsCall.params = {"statuses":["pending"]};
      this.$.availableTripsCall.addEventListener('response', this.onAvailableTrips.bind(this));

      //my trips
      this.$.myTripsCall.url = "api/rebu/v1/trips/search/findByStatusInAndDriver?projection=tripcompact&sort=timestamp,asc";
      this.$.myTripsCall.addEventListener('response', this.onMyTrips.bind(this));


      //fire
      this.$.driverCall.generateRequest();

    }



  });
</script>
</dom-module>


