<link rel="import" href="import.html">

<dom-module id="passenger-view">
	<template>
		<style include="rmd-view-styles"></style>


		<px-card id="myCard" header-text="">
			<div class="u-mh+">
				<px-alert-label id="online" type="important" label="Oops! It appears you are offline"></px-alert-label>
			</div>
			<iron-ajax id="onlineCall" handle-as="json"></iron-ajax>

			<px-steps id="steps"
			items='[{"id":"1","label":"Pick-up"},{"id":"2","label":"Waiting"},{"id":"3","label":"Confirmed"}]'>
		</px-steps>
		
		<!-- calls -->
		<iron-ajax id="passengersCall" handle-as="json"></iron-ajax>
		<iron-ajax id="locationsCall" handle-as="json"></iron-ajax>
		<iron-ajax id="tripsCall" handle-as="json"></iron-ajax>
		<iron-ajax
		id="submitTripCall"
		method="POST"
		body="[[trip]]"
		on-response="onSubmitTripSuccess"
		lastError="onSubmitTripError"
		handle-as="json" content-type="application/json"
		debounce-duration="3000">
	</iron-ajax>

	<span id="step0">

		<div class="u-mh+">
			<span class="heading--subsection u-mv++">Hi Sample User, where you want to go?</span>
			<div class="flex u-mv++">
				<div class="u-mr++ u-1/1">

					<label for="input1" ><px-icon icon="px-utl:location" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon> From (current):</label>
					<input id="input1" value="{{from}}" class="text-input input--huge validation-error" type="text">
				</div>
			</div>
			<div class="flex u-mv++">
				<div class="u-mr++ u-1/1">
					<label for="input2" ><px-icon icon="px-utl:download" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon> To:</label>
					<px-typeahead id="searchTo" value="{{trip.toName}}" placeholder="To ..." class="text-input input--huge validation-error" remote-url="api/rebu/v2/locations?name=%QUERY" remote-url-searching="true"></px-typeahead>
				</div>
			</div>
			<div class="flex u-mv++">
				<div class="u-1/4">
					<label for="input1"><px-icon icon="px-utl:clock" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon> In:</label>
					<div class="flex">
						<px-dropdown id="whenmin" items='["5 minutes","10 minutes","15 minutes","30 minutes","45 minutes"]' selected="0" button-style="bare"></px-dropdown>
					</div>
				</div>
			</div>
			<div class="flex u-mv++">
				<div class="u-1/4">
					<label for="input1"><px-icon icon="px-utl:overflow" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon> Peoples:</label>
					<div class="flex">
						<px-dropdown id="stuff" items='["1","2","3","4"]' selected="0" button-style="bare"></px-dropdown>
					</div>
				</div>
			</div>
			<div class="flex u-mv++">
				<div class="u-1/4">
					<px-alert-label id="submitCheck" type="warning" hidden="true"></px-alert-label>
					<button on-click="submitTrip" class="btn btn--full btn--primary"> OK
						<px-icon icon="px-utl:check" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon>
					</button>
				</div>
			</div>
		</div>
	</span>

	<span id="step1">
		<div class="u-mh+">
			<span class="heading--subsection u-mv++">Waiting for confirmation</span>
			<px-spinner	size="100">
			</px-spinner>
		</div>
	</span>
	<span id="step2">
		<span class="heading--subsection u-mv++">Timeline.</span>
		<div class="u-mh+">
			<px-timeline enhanced timeline-data='[[metadata]]' date-format="DD-MMM-YYYY HH:MM"></px-timeline>
		</div>

		<button id="confirm" on-click="confirm" class="btn btn--full btn--primary"> Confirm
			<px-icon icon="px-utl:check" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon>
		</button>


		<button id="cancel" on-click="cancel" class="btn btn--full btn--primary"> Cancel
			<px-icon icon="px-utl:close" class="style-scope px-actionable-design-demo x-scope px-icon-3"></px-icon>
		</button>

	</span>
</px-card>

</template>
</template>
<script>
	Polymer({
		is: 'passenger-view',
		properties: {
			from: {
				type: String,
				value: "unknown"
			},
			trip: {
				type : Object,
				value : function() {
					return  {
						fromLat: "0",
						fromLon: "0",
						toName:  "unknown",
						whenmin: "15 minutes",
						status: "none",
						stuff: 1
					};
				}
			},
			step: {
				type: Number,
				notify: true,
				value: 0,
				observer : ['stepgo']
			}
		},
		buildMetaData : function(trip) {

			var metadata=[];
			if (trip==null) return;

			var d = new Date();
			if (trip.timestamp) {
				var d = new Date(trip.timestamp);
				var datestring = d.getDate()  + "-" + (d.getMonth()+1) + "-" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes();
			}

			

			if (trip.passengerName) metadata.push(
				   {  
				      "metaData":{  
				         "editedBy":trip.passengerName,
				         "editedDate": datestring,
				         "editorTitle":"User",
				         "percent":"30",
				         "customIcon":"px-doc:website"
				      },
				      "content":{  
				         "title":"Start Pick-Up",
				         "bodyType":"text",
				         "body":[  
				            {  
				               "text": "Pick-up from " +  trip.fromLat + " " + trip.fromLon ,
				               "headline": "Pick-up notes " + trip.notes,
				               "isComment":true
				            }
				         ]
				      }
				  }
			);

			if (trip.driverName) metadata.push(
				   {  
				      "metaData":{  
				         "editedBy":trip.driverName,
				         "editedDate": datestring,
				         "editorTitle": "Driver",
				         "percent":"70",
				         "customIcon":"px-utl:clock"
				      },
				      "content":{  
				         "title":"Pick-Up Accepted",
				         "bodyType":"text",
				         "body":[  
				            {  
				               "text":"Pick-Up accepted by " + trip.driverName,
				               "headline": "Pick-Up accepted by " + trip.driverName,
				               "isComment":true
				            }
				         ]
				      }
				   }
			);
			if (trip.status=='accepted' || trip.status=='confirmed') metadata.push( {  
				      "metaData":{  
				         "editedBy":"REBU",
				         "editedDate": datestring,
				         "editorTitle":"System",
				         "customIcon":"px-utl:download"
				      },
				      "content":{  
				         "title":"Expected Pick-up within " + trip.whenmin,
				         "bodyType":"text",
				         "body":[  
				            {  
				               "text":"Expected Pick-up within "+ trip.whenmin,
				               "headline":"Current Status " + trip.status,
				               "isComment":true
				            }
				         ]
				      }
				   }
				   );

			this.metadata = metadata;


		},
		next : function() {
			console.log('next');
			this.$.steps.complete();

			console.log(this.get('step'));
			this.set('step', this.get('step')+1);
			console.log(this.get('step'));

		},
		stepgo : function(id)
		{
			console.log(id);
			if (id===0) {
				this.$.step0.hidden=false;
				this.$.step1.hidden=true;
				this.$.step2.hidden=true;
			} else if (id===1) {
				this.$.step0.hidden=true;
				this.$.step1.hidden=false;
				this.$.step2.hidden=true;
				
			} else if (id===2) {
				this.$.step0.hidden=true;
				this.$.step1.hidden=true;
				this.$.step2.hidden=false;
				this.$.confirm.hidden=false;
				this.$.cancel.hidden=true;
			} else if (id===3) {
				this.$.step0.hidden=true;
				this.$.step1.hidden=true;
				this.$.step2.hidden=false;
				this.$.confirm.hidden=true;
				this.$.cancel.hidden=false;
			}
		},
		validateTrip : function(e) {
			this.$.submitCheck.label='Invalid Trip';
			this.$.submitCheck.hidden=false;
			if (this.trip) {
				if (!this.trip.toName || this.trip.toName=='unknown') {
					this.$.submitCheck.label='Invalid Destination';
					return false;
				}
				if (this.trip.fromLat==0 || this.trip.fromLon==0) {
					this.$.submitCheck.label='Invalid Starting point. Did you enable GPS?';
					return false;
				}
				if (!this.trip.whenmin || this.trip.stuff<=0) {
					this.$.submitCheck.label='Invalid Passengers or When';
					return false;
				}
			}

			this.$.submitCheck.hidden=true;
			return true;

		},
		checkTrip : function() {
			var that = this;

			setTimeout(function() {
				that.$.tripsCall.generateRequest();
			}, 5000);
		},
		submitTrip : function(e) {
			console.log(this.get('trip'));

			if (!this.validateTrip()) return;

			var trip = this.get('trip');
			trip.status='pending';
			trip.passenger = this.passenger.href;
			console.log(trip); 
			this.$.submitTripCall.url="api/rebu/v1/trips";
			console.log('body');
			console.log(this.$.submitTripCall.body);
			//this.$.submitTripCall.body= trip;
			this.$.submitTripCall.method='POST';

			this.$.submitTripCall.generateRequest();

		},
		confirm:function(e){

	        if (this.trip) {
	        	var id = this.trip.id;
	        	console.log(this.trip);
	        	var trip={};
	        	trip.passenger=this.passenger.href;
	        	trip.status='confirmed';
	        	this.$.submitTripCall.url="api/rebu/v1/trips/"+id;
	        	console.log(trip);
	        	this.$.submitTripCall.body=trip;
	        	this.$.submitTripCall.method='PATCH';
	        	this.$.submitTripCall.generateRequest();

	        }

	    },
	    cancel:function(e){
			if (this.trip) {
	        	var id = this.trip.id;
	        	var trip={};
	        	trip.passenger=this.passenger.href;
	        	trip.status='cancelled';
	        	this.$.submitTripCall.url="api/rebu/v1/trips/"+id;
	        	this.$.submitTripCall.body=trip;
	        	this.$.submitTripCall.method='PATCH';
	        	this.$.submitTripCall.generateRequest();

	        }
	    },
	    resetTrip:function(e) {
	    	
	    	console.log(this.trip);
	    	if (this.trip.status!='none') {
	    		location.reload(true);
	    		console.log('reset trip');
	 			this.trip = {
							fromLat: "0",
							fromLon: "0",
							toName:  null,
							whenmin: "15 minutes",
							notes: null,
							status: "none",
							stuff: 1
						};
			}
			//location
			var that = this;
			setTimeout(function() {
				if (navigator.geolocation) {;
					navigator.geolocation.watchPosition(function(position) {
						console.log('location');
						that.set('from', "Lat: " + position.coords.latitude + " Lng: " + position.coords.longitude);
						that.set('trip.fromLat', position.coords.latitude);
						that.set('trip.fromLon', position.coords.longitude);
					});
				} else {
					that.set('from', "Geolocation is not supported by this browser.");
				}
			}, 1000);
	    },
	    onSubmitTripSuccess:function(e){
	    	this.checkTrip(e);
	    },
	    onSubmitTripError:function(e){
	    	alert(e.detail.response);
	    	location.reload(true);
	    },
	    onChangeTrip:function(e){
	    	var trips = e.detail.response._embedded.trips;
	    	console.log('onChangeTrip');
	    	console.log(trips);
	    	if (trips!=null && trips.length>0) {
	    		this.trip = trips[0];
	    		console.log(this.trip.status);
	    		if (this.trip.status == 'confirmed') {
	    			this.stepgo(3);
	    		} else if (this.trip.status == 'accepted') {
	    			this.stepgo(2);
	    		} else if (this.trip.status == 'pending') {
	    			this.stepgo(1);
	    			
	    		} else {
	    			this.stepgo(0);
	    		}
	    	} else {
	    		this.stepgo(0);
	    		this.resetTrip(e);
	    	}
	    	
	    	this.checkTrip();
	    	this.buildMetaData(this.trip);
	    },
	    onChangePassenger:function(e){
	    	console.log('onChangePassenger');
	    	var passengers = e.detail.response._embedded.passengers;
	    	console.log(passengers); 
	    	if (passengers!=null && passengers.length>0) {
	    		this.passenger = passengers[0];
	    		this.passenger.href=this.passenger._links.self.href;
	    		console.log(this.passenger); 

	    		this.set('trip.passenger', this.passenger.href);

		       		//ask fro current trip
		       		this.$.tripsCall.params = {"statuses":["cancelled","done","none"],"passenger": this.passenger.href};
		       		this.$.tripsCall.generateRequest();
		       	}
		       },
		       ready: function(e) {
		       	var that = this;

	/////////////////////////////////
	var email = 'diego.comina@bhge.com';

			//reset current trip
			this.resetTrip(e);


			//health
			this.$.onlineCall.url = "api/rebu/health";
	        //this.$.tripsCall.params = {"status":"new","passengerid":passengerid};

	        this.$.onlineCall.addEventListener('response', function (evt) {
	        	console.log(evt);
	        	this.online = evt.detail.response.status;
	        	this.$.online.hidden=true;

	        }.bind(this));

	        this.$.onlineCall.addEventListener('error', function (evt) {
	        	console.log(evt);
	        	this.online = 'not connected';
	        	this.$.online.hidden=false;
	        }.bind(this));

	        this.$.onlineCall.generateRequest();

	        //manage on change
	        this.$.searchTo.addEventListener('px-typeahead-search-input-change', function (evt) {
	        	this.validateTrip();
	        }.bind(this));

	        this.$.whenmin.addEventListener('px-dropdown-selection-changed', function (evt) {
	        	this.validateTrip();
	        	this.set('trip.whenmin',evt.detail.val);
	        }.bind(this));

	        this.$.stuff.addEventListener('px-dropdown-selection-changed', function (evt) {
	        	this.validateTrip();

	        	this.set('trip.stuff',evt.detail.val);
	        }.bind(this));


	       //passenger
	       this.$.passengersCall.url = "api/rebu/v1/passengers/search/findByEmailIgnoreCase";
	       this.$.passengersCall.params = {"email":email,"projection":"passengerId"};
	       this.$.passengersCall.addEventListener('response', this.onChangePassenger.bind(this));

	       //trip
	       this.$.tripsCall.url = "api/rebu/v1/trips/search/findByStatusNotInAndPassenger?projection=tripcompact";
	       this.$.tripsCall.addEventListener('response', this.onChangeTrip.bind(this));

			//fire
			this.$.passengersCall.generateRequest();


	       //register polling

	       /*myPoll = function() {
	       		console.log('poll');
	       		console.log(that);
				if ((that.passenger) && (that.passenger.href)) {
					//ask fro current trip
		       		that.$.tripsCall.params = {"statuses":["cancelled","done","none"],"passenger": that.passenger.href};
		       		that.$.tripsCall.generateRequest();
				} 
				//setTimeout( myPoll , 10000);
			};

			setTimeout( myPoll , 1000);*/

		}
	});
</script>
</dom-module>
